* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.logo-link {
  display: block;
  transition: opacity 0.4s ease;
}

.logo-link img {
  display: block;
}

.logo-link:hover {
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.6;
}

/* CONTAINER */

.container {
  width: 100%;
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.site-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 5px solid #ff7500;
  padding-top: 16px;
  padding-bottom: 16px;
}

.site-header-actions {
  display: flex;
  align-items: center;
}

.sitenav-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sitenav-item {
  margin-right: 32px;
}

.nav-links {
  color: black;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.4s ease, opacity 0.4s ease;
}

.nav-links:hover {
  color: #ff7500;
}

.nav-links:active {
  opacity: 0.6;
}

.main-link {
  display: inline-block;
  padding: 12px 24px;
  font-size: 13px;
  font-weight: bold;
  line-height: 15px;
  background-color: #ff7500;
  color: #fff;
  text-decoration: none;
  transition: opacity 0.4s ease;
  border-radius: 4px;
}

.main-link:hover {
  opacity: 0.8;
}

.main-link:active {
  opacity: 0.6;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: #fff;
  padding-top: 80px;
  padding-bottom: 80px;
}

.hero-heading {
  font-family: "Roboto", sans-serif;
  margin-top: 0;
  margin-bottom: 24px;
}

.hero-text {
  margin-top: 0;
  margin-bottom: 32px;
}

.hero-content {
width: 390px;
}

.hero-content-container {
display: flex;
justify-content: space-between;
align-items: center;
}

.orange-line {
width: 80px;
height: 5px;
background-color: #ff7500;
border: 0;
margin: 0;
margin-bottom: 40px;
}

.hero-img {
width: 510px;
height: 510px;
}

.features {
  padding-top: 210px;
  padding-bottom: 210px;
}

.features-heading {
width: 440px;
font-size: 72;
line-height: 1.2;
margin-top: 0;
margin-bottom: 72px;
}

.feature {
width: 340px;
list-style: none;
margin-right: 40px;
}

.feature:last-child {
  margin-right: 0;
}

.feature-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.feature-title {
  font-size: 24px;
  line-height: 1.2;
}

.promo {
  padding-top: 120px;
  padding-bottom: 160px;
}

.promo-inner {
display: flex;
justify-content: space-between;
align-items: center;
background-color: black;
color: white;
border-radius: 12px;
padding: 64px;
}

.promo-content {
  width: 440px;
}

.promo-heading {
  font-size: 40px;
  line-height: 48px;
  margin-top: 0;
  margin-bottom: 24px;
}

.promo-text {
margin: 0;
margin-bottom: 12px;
}

.promo-text:last-child {
  margin-bottom: 0;
}

.promo-info-wrapper {
  margin-bottom: 24px;
}

.promo-highlight {
  color: #ff7500;
}

.promo-img {
  width: 440px;
  height: 440px;
  object-fit: cover;
}

.site-footer {
  padding-top: 56px;
  padding-bottom: 56px;
}

.site-footer ul {
  list-style: none;
}

.site-footer-top {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.site-footer-bottom {
  display: flex;
}

.site-footer-icons {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.site-footer-icons li {
margin-right: 16px;
}

.site-footer-icons li:last-child {
  margin-right: 0;
}

.site-footer-icons a {
  display: block;
  color: black;
  transition: color 0.4s ease, opacity 0.4s ease;
}

.site-footer-icons svg {
  display: block;
}


.site-footer-icons a:hover {
  color: #ff7500;
}

.site-footer-icons a:active {
  opacity: 0.6;
}

.site-footer-divider {
  height: 2px;
  background-color: rgba(37, 36, 32, 0.5);
  border: 0;
  margin-top: 40px;
  margin-bottom: 64px;
}

.site-footer-links {
  width: 224px;
  transition: color 0.4s ease, opacity 0.4s ease;
  padding: 0;
  margin: 0;
  margin-right: 68px;
}

.site-footer-links li {
margin-bottom: 16px;
}

.site-footer-links li:last-child {
margin-bottom: 0;
}

.site-footer-links:last-child {
  margin-right: 0;
}

.site-footer-links:hover {
color: #ff7500;
}

.site-footer-links:active {
opacity: 0.6;
}

.site-footer-links a {
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #252420;
}